/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.leaflet-container {
  width: 100svw;
  height: 100svh;
}

.nav-container {
  position: absolute;
  z-index: 10000000;
  right: 10px;
  top: 10px;
  background-color: white;
  border: solid 2px rgba(0,0,0, 0.4);
  border-radius: 10%;
}

.map-container {
  z-index: 0;
}

.nav-items-container {
  width: 400px;
  @media (max-width: 1024px) {
    width: 300px;
  }
  @media (max-width: 450px) {
    width: 80vw;
  }
}